#logo{
    height: 70px;
    transition: width 2s, height 2s;
}

#logo:hover{
    width:100px;
    height:100px;
}

nav{
    display: block;
    background-color: greenyellow;
}

#socials{
    float: right;
    margin: 30px;
}

#socials a{
    margin: 30px;
}

#socials a:hover{
    background-color: gold;
}

#center{
    /* border: 5px solid black; */
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

footer{
    height: 30px;
    background-color: greenyellow;
    position: relative;
    top:30px;
}

#image{
    border-radius: 50%;
    height: 250px;
    position: relative;
    left:40px;
}

#header-top{
    font-size: 28px;
    text-transform: capitalize;
    position: relative;
    animation-name: heading;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes heading{
    0% { top: -250px; }
    100%{ top: 5px;}
}

.section3{
    border:1cm;
    width:90%;
    height:260px;
    border-style: none;
    border-color:black;
    background-color:greenyellow;
    height:600px;
    position: relative;
    top:20px;
    left:60px;
    border-radius:1cm; 
}

.inner{
    width:30%;
    height:550px;
    border-radius:1cm;
    border-style:hidden;
    margin-left: 40px;
    margin-top:30px;
    float: left; 
}

.p2{
    float: right;
    width:40%;
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman';
    margin-right: 200px;  
}

h1{
    text-align: center;
}